* {
    box-sizing: border-box;
}

body, #root, .layout {
    min-height: 100vh !important;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.content {
    margin: 30px auto;
}

.plus {
    color: #2ecc71;
}

.minus {
    color: #c0392b;
}

.ant-divider.separator::before, .ant-divider.separator::after {
    border-top: 1px solid #c6c6c6;
}

.ant-list-item.transaction {
    background: white;
}

.transaction.plus {
    border-right: 2px solid #2ecc71;
}

.transaction.minus {
    border-right: 2px solid #c0392b;
}

.balance-row {
    min-width: 300px;
}
